(
    lines: [
        (
            points: [     
                (
                    x: 50,
                    y: 50,
                ),
                (
                    x: 150,
                    y: 150,
                ),
                (
                    x: 250,
                    y: 50,
                ),
                (
                    x: 350,
                    y: 250,
                ),
            ],
            color: (
                x: 0,
                y: 0.6,
                z: 1,
            ),
            thickness: 35,
        ),
        (
            points: [
                (
                    x: 100,
                    y: 100,
                ),
                (
                    x: 200,
                    y: 800,
                ),
                (
                    x: 800,
                    y: 200,
                ),
                (
                    x: 123,
                    y: 456,
                ),
                (
                    x: 1000,
                    y: 456,
                ),
            ],
            color: (
                x: 0.2,
                y: 0.2,
                z: 0.3,
            ),
            thickness: 80,
        ),
    ],
)